[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"argon2-cffi" = "*"
django-compressor = "*"
bcrypt = "*"
django-turbolinks = "*"
django-user-accounts = "*"
django-webpack-loader = "*"
gunicorn = "*"
social-auth-app-django = "*"
pillow = "*"
dateutils = "*"
"psycopg2-binary" = "*"
python-memcached = "*"
django-cron = "*"
"boto3" = "*"
"django-s3-storage" = "*"
django-hashid-field = "*"
eventlog = "*"
mixpanel = "*"
pycrypto = "*"
phpserialize = "*"
redis = "*"
django-redis-cache = "*"
django-redis-sessions = "*"
django-redis = "*"
"mailchimp3" = "*"
celery = "*"
django-celery-email = "*"
sentry-sdk = "==0.7.14"
django-debug-toolbar = "*"
sphinx = "*"

[dev-packages]
django-debug-toolbar = "*"
sphinx = "*"
coverage = "*"
"flake8" = "*"
pytest = "*"
tox = "*"
