{% extends 'base_login.html' %}
{% load static %}
{% block content %}
    <div class="off-canvas-sidebar register-page">
        <div class="wrapper wrapper-full-page">
            <div class="page-header register-page header-filter" filter-color="black"
                 style="background-image: url('../../static/img/register.jpg'); background-size: cover; background-position: top center;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="card card-signup">
                                <h2 class="card-title text-center">Reset password</h2>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 mx-auto">
                                            RESET PASSWORD FAIL, contact support@commonplace.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            , made with <i class="material-icons">favorite</i> by
                            <a href="#" target="_blank">Darko Kolev</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
