{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="top-level__title"></h3>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
        </ol>
    </nav>
    <div class="main-panel">
        <div class="content">
            <div class="row section-header">
                {% csrf_token %}
                <div class="col-md-12 text-center header-underline">
                    <h2>Account</h2>
                    <ul class="nav nav-pills nav-pills-primary">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_settings' %}">
                                Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"
                               aria-expanded="false">
                                Password
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <form class="col-md-12" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger float-right" value="Logout">
                </form>
            </div>
            <div class="row settings-section justify-content-center" data-controller="account">
                <div class="card col-md-10">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                    </div>
                    <form method="post" action="{% url 'account_password' %}" class="form-horizontal">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="row errors">
                                {{ form.errors }}
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Existing password</label>
                                <div class="col-sm-8">
                                    <div class="form-group bmd-form-group">
                                        <input name="password_current" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">New Password</label>
                                <div class="col-sm-8">
                                    <div class="form-group bmd-form-group">
                                        <input name="password_new" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Confirm New Password</label>
                                <div class="col-sm-8">
                                    <div class="form-group bmd-form-group">
                                        <input name="password_new_confirm" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-fill btn-info" value="Change">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
