{% extends 'base_login.html' %}
{% load static %}
{% block content %}
    <div class="off-canvas-sidebar register-page">
        <div class="wrapper wrapper-full-page">
            <div class="page-header register-page header-filter" filter-color="black"
                 style="background-image: url('../../static/img/register.jpg'); background-size: cover; background-position: top center;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="card card-signup">
                                <h2 class="card-title text-center">Enter new password</h2>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 mx-auto">
                                            <form method="POST">
                                                {% csrf_token %}
                                                {% if form.errors %}
                                                    {% for field in form %}
                                                        {% for error in field.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {% for error in form.non_field_errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}

                                                <div class="form-group has-default">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              Enter new password:
                                                            </span>
                                                        </div>
                                                        <input type="password" name="password" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group has-default">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              Confirm new password:
                                                            </span>
                                                        </div>
                                                        <input type="password" name="password_confirm" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="mt-4 text-center">
                                                    <input type="submit" value="Save new password" class="btn btn-outline-info">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            , made with <i class="material-icons">favorite</i> by
                            <a href="#" target="_blank">Darko Kolev</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
