<h3>Book summary: Breaking Out Of Homeostasis</h3>
<h5>
    Chapter: 1
</h5>
<h5>3 things I've learned</h5>
<ul>
    <li>Your body and brain will lie to you</li>
    <li>Two modes, create or consume</li>
    <li>Must reach a pain threshold then go past it</li>
</ul>
<h3>Knowing is not enough, you must apply</h3>

<h5>Top three things I will implement in my life</h5>

<ol>
    <li>I will run three times a week</li>
    <li>Fast every day</li>
    <li>Seek and Recognize the uncomfortable situations in life and use them to break out of homestasis</li>
</ol>
